body{
  background-color: #F1F0F1;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: #FF3F33;
}

nav a{
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover{
  text-decoration: underline;
}

table{
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
}

th, td{
  border: 1px solid #000;
  padding: 8px;
}

th{
  font-weight: bold;
}
